<div class="container h-100 w-100">
  <div style='text-align: center'><br><br>
    <h1 class='border-bottom pb-2 mb-5'>Central Heating Controls</h1>
    <a href='on' style='font-size: 24; margin-right: 10px'>
      <button type='button' style='font-size: 24; width: 6rem; height: 6rem' class='btn btn-primary'>On</button>
    </a>
    <a href='off' style='font-size: 24; margin-left: 10px'>
      <button type='button' style='font-size: 24; width: 6rem; height: 6rem' class='btn btn-primary'>Off</button>
    </a>
    <br>
    <br>
  </div>
</div>
